R_version/Exercise01_CreatingDocument/Exercise_01_files/
*.html
R_version/Exercise02_CodeOptions/Exercise_02_files/
R_version/Exercise03_Header/Exercise03_files/
R_version/Exercise03_Header/Exercise03_changed_files/